<?xml version="1.0"?>
<model>
  <name>turtlebot3_waffle_stable</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>AutoFactory</name>
    <email></email>
  </author>
  <description>Stable TurtleBot3 Waffle model for AutoFactory AGV simulation.</description>
</model>
